---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Never memorize a pwd again!';
const description = 'Articles, source code and more for creating cross-platform apps.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
       <h1>Write Apps That Run on Linux, macOS, Windows</h1>
       <p>published 2025-06-23</p>
       <aside>This site is new and details will be updated as they become available.</aside>
       <p>
       After more than 30 years of doing everyting on Windows (Win3.1, Win95, Win2000, WinXP, Vista and Win10) I finally migrated to Linux.<p>
       <p>I started out simple in 2018 running Ubuntu.  It's easy to install and mostly easy to install software on.  </p>
       <p>Most of the software I wanted to run was already there.</p>
       <p> But, there were some things that I wanted, so I figured I'd try building them for myself.</p>
       <p>One of the first things I wanted was a Task Manager that would make it easier to see what was running and allow me to kill a process if I had to.</p>
       <h2>Which Programming Language Is Cross-Platform</h2>
       <p>Should I use Python? No, I decided not to, because since I started out in C++ and migrated to C# (and many other C-like languages including Java, Kotlin, Swift & JavaScript) I just couldn't stand Python syntax.</p>
       <h3>Do You Know How Easy It Is To Use C# On All Platforms Now?</h3>
       <p> C# is actually quite amazing.  I can run it on any Linux distro (Fedora, OpenMandriva, Manjaro, Ubuntu, the list goes on).</p>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
