<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
  Hi, I'm <strong>Roger</strong>. I'm a software developer based in Dayton, Ohio.
    You can follow me on <a href="https://www.twitter.com/raddevus" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/raddevus" target="_blank">GitHub</a>,
    or read more about my Open Source password manager (and try it out) which doesn't store your passwords anywhere (it generates
    them every time) at <a href="https://www.cyapass.com" target="_blank">C'YaPass web</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
