<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="cyapass logo" src="/assets/logo.webp" width="50" height="50" />

</a>
